<div class="comment">
  <h1>
    <%= comment.commenter %>,
  </h1>
  <h2>
    <%= comment.created_at.to_formatted_s(:long_ordinal) %>
  </h2>

  <p>
    <%= comment.body %>
  </p>
</div>
<div class ="przyciski">
  <p>
    <% if (can? :manage, @comment) || (current_user!=NIL && comment.commenter == current_user.username)%>
    <strong><%= link_to 'Usuń komentarz', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Na pewno?' } %>

    </strong>
    <%end%>
  </p>
</div>