<div class="comment">
  <h1>
    <%= comment.commenter %>,
  </h1>
  <h2>
    <%= comment.created_at.to_formatted_s(:long_ordinal) %>
  </h2>

  <p>
    <%= comment.body %>
  </p>
</div>
<div class ="przyciski">
  <p>
    <strong><%= link_to 'Destroy Comment', [comment.article, comment],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
    </strong>
  </p>
</div>