<% if (cannot? :manage, @article) || (current_user!=NIL && article.author == current_user.username)%>
      <div class="notice">
        <p>Możesz zarządzać tylko swoimi artykułami</p>
      </div>
  <%else%>
      <div class="post">
        <h1>Edit article</h1>
        <%= render 'form' %>
        <div class="przyciski">
          <strong>
            <%= link_to 'Back', articles_path %>
          </strong>
        </div>
      </div>
<% end %>


