<% if cannot? :manage, @article %>
    <div class="notice">
      <p>Musisz się zalogować, aby móc dodawać posty! </p>
    </div>
<%else%>
  <div class="post">
    <h1>New article</h1>
    <%= render 'form' %>
    <div class="przyciski">
      <strong>
        <%= link_to 'Back', articles_path %>
      </strong>
    </div>
  </div>
<%end%>