<<<<<<< HEAD
<div class="post">
  <div class="post">
    <h2>Profil</h2>
    <br>Nazwa użytkownika: </br> <%=@user.username%>
    <br>Ilość polubionych artykułów: </br> <%=@user.likes.count%>
  </div>
  <h3>Artykuły użytkownika</h3>
  <%= render @user.articles %>
</div>
=======
<h1><%= @user.username %></h1>
>>>>>>> parent of 8aac809... user can see his account and change his data
