<div id="tag">
  <p>
    Wszytkie artykuły z tagiem
    <i><%= @tag.name %></i>
  </p>
  <div class="przyciski">
    <% if can? :manage, @tag %>
      <%= link_to 'Usuń tag', tag_path(@tag),
                  method: :delete,
                  data: { confirm: 'Na pewno?' } %>
    <%end%>
  </div>
</div>
  <div><%= render @articles %></div>

